---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 3,
})
---

<MainLayout title = "Coach4expats"> 
    <section class="container about" aria-label="About Me">
		<img src="/images/headshot.jpg" 
			alt="My headshot" 
			width="200"
			height="330"
		/>
		
		<div class="content">
			<h1 class="h1">
				My Blog
			</h1>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis fuga eius sunt, 
                iure perspiciatis illo recusandae expedita, officiis, 
                nisi nobis commodi modi tenetur hic impedit. 
                Sit odio doloribus earum ipsum voluptatibus dolores, 
                quas qui delectus minus ex optio assumenda ducimus.</p>
			<Link href="mailto:leandro.schaab@hotmail.com" 
			style="secondary"
			text="Contact Me"/>
		</div>
	</section>
    <section class="container" aria-label="New Blog Posts">
        <h2 class="h1">New Blog Posts</h2>
        <div class="post-container">
            {
                formattedPosts.map((post) =>
                <PostCard
                    frontmatter={post.frontmatter}
                    url={post.url}
                    tagType="h3"/>)
            }
        </div>
    </section>
</MainLayout>