---

---

<footer>
    <small>
        Copyright &copy; <span
        id="copyright"></span> All Rights Reserved
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent =
    new Date()
        .getFullYear()
        .toString();
</script>